[Unit]
Description=Strange attractor screensaver
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/Projects/attractor-screensaver/bin/attractors --idle --all-displays
Restart=no
